@{
    ViewBag.Title = "Index";
}

<div ng-controller="HubController">
    {{ message }}
    <br />
    @*<pre ng-show="Hub">{{ Hub | json }}</pre>*@
    <span>Sort: </span><a href="#sortFirstname">Firstname</a> <a href="#sortFirstname">Lastname</a> 
    <table>
        <tr ng-repeat="x in Hub">
            <td>{{ x.Firtsname + " " + x.Lastname }}</td>
        </tr>
    </table>
</div>